@import "tailwindcss";

:root {
    --safe-top: env(safe-area-inset-top);
    --safe-right: env(safe-area-inset-right);
    --safe-bottom: env(safe-area-inset-bottom);
    --safe-left: env(safe-area-inset-left);
}

@theme {
    --primary: rgba(254, 128, 25, 1);
}

html,
body {
    min-height: 100dvh;
    width: 100%;
}

body {
    background-color: #1e1e1e;
    color: white;
}

*:hover {
    transition: 0.2s;
}

.custom-link {
    opacity: 50%;
}

.custom-link:hover {
    opacity: 85%;
}

.custom-input {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    padding: 1px 4px;
}

.custom-input::placeholder {
    color: rgba(255, 255, 255, 0.3);
}

@media (pointer:none),
(pointer:coarse) {
    body {
        user-select: none;
    }

    .titlebar {
        display: none;
    }
}