@import "tailwindcss";

:root{
  --safe-top: env(safe-area-inset-top);
  --safe-right: env(safe-area-inset-right);
  --safe-bottom: env(safe-area-inset-bottom);
  --safe-left: env(safe-area-inset-left);
}

html, body{
  min-height: 100dvh;
  width: 100%;
}

body {
    background-color: #1e1e1e;
    color: white;
}

*:hover {
    transition: 0.2s;
}

.custom-link {
    opacity: 50%;
}

.custom-link:hover {
    opacity: 100%;
}

@media (pointer:none), (pointer:coarse) {
    body {
        user-select: none;
    }

    .titlebar {
        display: none;
    }
}